<div class="row mt-3 ">
  <div class="col-12 mb-3">
      <input type="text" name="seacrh" class="form-control" [(ngModel)]="searchText" placeholder="Buscar por usuario" >
  </div>
  <div class="col-12 table-responsive pageTrans ">
    <table class="table table-bordered table-hover table-striped ">
      <thead class="thead-dark" >
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Nombre</th>
          <th scope="col">Usuario</th>
          <th scope="col">Correo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | filter : searchText; let i = index">
          <th scope="row">{{i}}</th>
          <td><a [routerLink]="[ '/user/', user.id ]">{{user.name}}</a></td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>