<div class="row mt-3">
  <div class="col-md-3 pageTrans mb-3">
    <div class="card">
      <div class="card-img-top conImg">
        <h5 class="center">{{user.username}}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> <i class="fas fa-user-circle"></i> Datos de perfil</li>
        <li class="list-group-item"> <i class="fas fa-map-marked-alt"></i> Direccion</li>
      </ul>
    </div>
  </div>
  <div class="col-md-9">
    <div class="card-flip">
      <div class="flip">
        <div class="front">
          <div class="card data pageTrans ">
            <h2> <i class="fas fa-user-circle"></i> Datos de Perfil</h2>
            <hr>
            <form>
              <div class="form-group">
                <label for="name">Nombre:</label>
                <input class="form-control" id="name" [value]="user.name" disabled>
              </div>
              <div class="form-group">
                <label for="email">Correo:</label>
                <input class="form-control" id="email" [value]="user.email" disabled>
              </div>
              <div class="form-group">
                <label for="phone">Telefono:</label>
                <input class="form-control" id="phone" [value]="user.phone" disabled>
              </div>
              <div class="form-group">
                <label for="website">Sitio WEB:</label>
                <input class="form-control" id="website" [value]="user.website" disabled>
              </div>
              <div class="form-group">
                <label for="company">Empresa:</label>
                <input class="form-control" id="company" [value]="user.company.name" disabled>
              </div>
            </form>
          </div>
        </div>

        <div class="back">
          <div class="card data ">
            <h2> <i class="fas fa-map-marked-alt"></i> Dirección</h2>
            <hr>
            <form>
              <div class="form-group">
                <label for="stress">calle:</label>
                <input class="form-control" id="street" [value]="user.address.street" disabled>
              </div>
              <div class="form-group">
                <label for="email">Suite:</label>
                <input class="form-control" id="email" [value]="user.address.suite" disabled>
              </div>
              <div class="form-group">
                <label for="phone">Ciudad:</label>
                <input class="form-control" id="phone" [value]="user.address.city" disabled>
              </div>
              <div class="form-group">
                <label for="website">Latitud:</label>
                <input class="form-control" id="website" [value]="user.address.geo.lat" disabled>
              </div>
              <div class="form-group">
                <label for="company">Longitud:</label>
                <input class="form-control" id="company" [value]="user.address.geo.lng" disabled>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>