.card-img-top{
    height: 150px;
    background-color: rgb(60, 60, 109)
}

.data{
    padding: 10px;
}

input{
    font: 15px/24px "Lato", Arial, sans-serif; 
    border: 0;
    border-bottom:solid 1px rgba(122, 122, 122, 0.705);
}

input:disabled{
	background-color: rgb(255, 255, 255);
}

label{
    color: rgb(136, 136, 136);
}

.address{
    display: none;
}

.conImg{
    display: table; 
    overflow: hidden;
}

.center {
    display: table-cell; 
    vertical-align: middle;
    text-align: center;
    color: rgb(255, 255, 255);
}

.active{
    width: 320px;
    margin-left: -160px;
    -webkit-transform: scale(1,1) rotate(0deg);
    transform: scale(1,1) rotate(0deg)
}

//ejemplo animado

.card-flip {
    perspective: 1000px;
    &:hover .flip,
    &.hover .flip {
      transform: rotateY(180deg);
    }
  }
  
  .card-flip,
  .front,
  .back {
    width: 100%;
    height: 480px;
  }
  
  .flip {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }
  
  .front,
  .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .front {
    z-index: 2;
    transform: rotateY(0deg);
  }
  
  .back {
    transform: rotateY(180deg);
  }